body {
  margin: 0;
  /* font: normal var(--main-font-weight) var(--main-font-size) 'Roboto',
    sans-serif; */
  font: normal 400 12px 'Roboto', sans-serif;
  line-height: 1.17;

  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: transparent;
}
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f6fb;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#ff751d, #fff01d);
  border-radius: 25px;
}